<%= simple_form_for [forem, :admin, @forum] do |f| %>
  <% Forem::Category.all.each do |category| %>
  <%= "[#{category.name} = #{category.id}]" %>
  <% end %>
  <%= f.input :category_id %>
  <%= f.input :title %>
  <%= f.input :position %>
  <%= f.input :description, :as => :text %>

  <h3><%= t('forem.admin.forum.moderator_groups') %></h3>
  <%= f.association :moderators, :as => :check_boxes %>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
