<div class="row" data-no-turbolink="true">
  <br/>
  <h4 class="center-align">All Projects</h4>
  <% @projects.each do |project| %>
        <div class="col s12 m6">
          <div class="card hoverable">
          <%= link_to project do %>
            <div class="card-image waves-effect-waves-block waves-light">
              <%= image_tag project.image %>
            </div>
          <% end %>  
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">
                <%= project.name %>
              </span>
              <div class="card-actions center">
                <%= link_to project do %>
                  <button class="waves-effect waves-light btn"><i class="material-icons left">forward</i>Enter</button>
                <% end %>
                  <button class="waves-effect waves-light btn-flat activator">details</button>
              </div>
            </div>
            <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><%= project.name %><i class="material-icons right">close</i></span>
                  <p><%= project.content %></p>
            </div>
          </div>
        </div>
  <% end %>

</div>