<ul class="collection">
<% if @reviews.blank? %>
  <span class="center">There are no reviews yet.</span>
<% end %>

<% @reviews.order("id desc").each do |r| %>

<li class="collection-item avatar">
      <%= image_tag avatar_url(r.user), class: "circle responsive-img", size: "30" %>
      <span class="title"><%= r.user.name %></span>
      <span class=" badge"><%= timeago(r.created_at) %></span>
      <p>
         <%= r.comment %>
      </p>
      <div class="right" id="stars_<%= r.id %>">
      </div>
      <div>
        <%= link_to "Remove", [@project, r], method: :delete, data: {confirm: "Are you sure?"} if current_user && current_user.id == r.user.id %>
      </div>
  </li>

  <script type>
    $('#stars_<%= r.id %>').raty({
      path: '/assets',
      readOnly: true,
      score: <%= r.star %>
    });
  </script>
<% end %>
</ul>
<script>
  $(function() {
    $("time.timeago").timeago();
  })
</script>