<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CS Hub</title>
    <meta name="description" content="A YorkU club for those interested in learning new technologies, networking and making something of yourself." />
    <meta name="keywords" content="cshub, club, computer, science, university, york" />
    <meta name="author" content="Philip Alekseev" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="//load.sumome.com/" data-sumo-site-id="f82eb0e4ddee984dda17c743f2d6806580ac3d86cdd31c2eda27bde1e1516549" async="async"></script>

  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="//v2.zopim.com/?3gB0JxvsLH6xyyysk9JdypIs8j52dkiN";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
  </script>
  <!--End of Zopim Live Chat Script-->
</head>

<body>
<%= render partial: "partials/header" %>
<%= render partial: "partials/notification" %>
  <main>
      <%= yield %>
  </main>
<%= render partial: "partials/footer" %>
</body>

<script>
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();

</script>
</html>
